In [13]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([4,6,-7,12,3,5],index=['a','b','d','n','r','x'])
s1

In [5]:
sdata = {'Warszawa':445,'Lublin':432,'Kraków':543,'Gdańsk':512}
s2 = pd.Series(sdata)
s2

In [7]:
#obiekt DataFrame
data = {'miasto':['Warszawa','Lublin','Wrocław','Kraków'],
        'wnioski':[234,123,177,210],
        'projekty':[4,5,3,7]}

frame = pd.DataFrame(data,index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,234,4
11,Lublin,123,5
12,Wrocław,177,3
13,Kraków,210,7

In [12]:
daty = pd.date_range("20231218",periods=6)
daty

DatetimeIndex(['2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21',
               '2023-12-22', '2023-12-23'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6,4),index=daty, columns=list("ABCD"))
df

,A,B,C,D
2023-12-18,0.026036,-0.022440,-0.287866,-0.789896
2023-12-19,0.972007,-0.272900,-0.053755,-2.336839
2023-12-20,-0.077697,-0.517591,0.051669,-0.674484
2023-12-21,-0.521587,0.880617,0.259996,-0.308761
2023-12-22,-1.629656,0.972929,1.052062,1.290387
2023-12-23,0.073748,-0.550101,-1.659471,0.115115